.mobile_preview_ft{
    background-color: #fff;
}
.mobile_preview .pre_menu_list {
    margin-left: 65px;
    margin-right: 36px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
}
.pre_menu_item {
    position: relative;
    float: left;
    line-height: 38px;
    text-align: center;
}

.size1of3 {
    width: 33.33%;
}

.pre_menu_item a {
    display: block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #616161;
    text-decoration: none;
}
.pre_menu_link {
    border-left: 1px solid #e7e7eb;
}
.pre_menu_item .icon_menu_dot {
    background: url("../img/index_z2a7519.png") 0 -48px no-repeat;
    width: 7px;
    height: 7px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
    margin-top: -2px;
}

.sub_pre_menu_box {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    border: 1px solid #d0d0d0;
    background-color: #fff;
}


ul, ol {
    padding-left: 0;
    list-style-type: none;
}

.sub_pre_menu_box .arrow_out {
    bottom: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: #d0d0d0;
    border-top-style: solid;
}
.sub_pre_menu_box .arrow {
    position: absolute;
    left: 50%;
    margin-left: -6px;
}
.sub_pre_menu_box .arrow_in {
    bottom: -5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: #fafafa;
    border-top-style: solid;
}
.sub_pre_menu_box .arrow {
    position: absolute;
    left: 50%;
    margin-left: -6px;
}
